html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
}

h1 {
  margin: 0;
  font-size: 3.4rem;
}

.gradient-text {
  background-image: linear-gradient(to right, #1BA757, #0E6C5B, #012C60);
  background-clip: text;
  color: transparent;
}

.top-margin {
  margin-top: 80px;
}